.DS_Store
.vscode/
aider.code-workspace
*.pyc
.aider*
aider_chat.egg-info/
build
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
/tmp.benchmarks
 eval "$(ssh-agent -s)"
 eval "$(ssh-agent -s)".pub
python/
.env
.bash_history
